.header {
    margin: 0 auto;
    text-align: center;
    color: rgb(107, 107, 107);
    font: 1em sans-serif;
}

canvas {
    border: 5px solid #998675;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.coordinates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #998675;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
}
.coordinates p {
    margin: 10px;
}

.tools-wrp {
    display: flex;
    justify-content: center;
}

.tool-button {
    display: flex;
    margin: 10px;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    background-color: #998675;
    text-decoration: none;
    border-bottom: 3px solid #736356;
    color: #ccc;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
}

.tool-button:hover {
    background-color: #736356;
    border-bottom: 3px solid #998675;
}

.tool-button:active {
    background-color: #998675;
    outline: none;
}

#siliect-size {
    display: flex;
    margin: 10px;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    background-color: #998675;
    text-decoration: none;
    border-bottom: 3px solid #736356;
    color: #ccc;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
}

#siliect-size:hover {
    background-color: #736356;
    border-bottom: 3px solid #998675;
}

#siliect-size:active {
    background-color: #998675;
    outline: none;
}

.tools-wrp input {
    margin: 10px;
}