.header {
    margin: 0 auto;
    text-align: center;
    color: #ccc;
    font: 1em sans-serif;
}

canvas {
    border: 5px solid rgb(107, 106, 106);
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.coordinates {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.coordinates p {
    margin: 10px;
}

.tools-wrp {
    display: flex;
    justify-content: center;
}

.tool-button {
    
    margin: 10px;
}

.tools-wrp input {
    margin: 10px;
}